In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('expdata.csv')

In [5]:
df

,loja,cidade,ESTADO,clienteloja,cliente,DescricaoTipo,data,QtdeVendas,ValorPago
0,1,BELO HORIZONTE,MG,1,531511,COTURNO SALTO BAIXO,10/6/2022,1,449.99
1,1,BELO HORIZONTE,MG,1,531571,SCARPIN SALTO BAIXO,4/12/2022,1,59.99
2,1,BELO HORIZONTE,MG,1,531599,TENIS,11/1/2022,1,159.99
3,1,BELO HORIZONTE,MG,1,531644,SANDALIA DE FESTA SALTO ALTO,9/28/2022,1,279.99
4,1,BELO HORIZONTE,MG,1,531644,SANDALIA SALTO MEDIO,9/28/2022,1,169.99
...,...,...,...,...,...,...,...,...,...
2956080,888,SALVADOR,BA,999,2229227,TAMANCO SALTO MEDIO,1/31/2022,1,69.99
2956081,888,SALVADOR,BA,999,2302831,SANDALIA SALTO MEDIO,1/27/2022,1,69.99
2956082,888,SALVADOR,BA,999,2344083,TAMANCO SALTO MEDIO,3/15/2022,1,59.99
2956083,888,SALVADOR,BA,999,2359863,SANDALIA SALTO MEDIO,1/11/2022,1,69.99
2956084,888,SALVADOR,BA,999,2684534,SANDALIA MEIA PATA ALTA,5/28/2022,1,249.99

In [7]:
df.dtypes

loja               int64
cidade            object
ESTADO            object
clienteloja        int64
cliente            int64
DescricaoTipo     object
data              object
QtdeVendas         int64
ValorPago        float64
dtype: object